<div>
    <div>
      <div>
        <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
          <div >
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              required
              ngModel
              name="title"
            />
          </div>
          <div >
            <label for="content">Content</label>
            <textarea
              
              id="content"
              required
              ngModel
              name="content"
            ></textarea>
          </div>
          <button
            
            type="submit"
            [disabled]="!postForm.valid"
          >
            Send Post
          </button>
        </form>
      </div>
    </div>
    <hr />
    <div >
      <div >
        <button class="btn btn-primary" (click)="onFetchPosts()">
          Fetch Posts
        </button>
        |
        <button
          [disabled]="loadedPosts.length < 1"
          (click)="onClearPosts()"
        >
          Clear Posts
        </button>
      </div>
    </div>
    <div >
      <div *ngIf="loadedPosts.length < 1 && !isFetching">
        <p>No posts available!</p>
      </div>
      <div *ngIf="isFetching"> Loading Posts...</div>
      <div *ngIf="!isFetching">
        <ul *ngIf="loadedPosts.length >=1">
            <li *ngFor="let post of loadedPosts">
                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>
            </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Http Anatomy 

  Http Verb - What is the kind of request 
  url - From where to fetch, post, etc or location of data
  header - meta data 
  body - json format  -->
  

   <!-- <app-servers></app-servers> -->